<ul class="nav nav-tabs nav-background">
	<li>
		<%= image_tag 'logo.png', class: 'logo' %>
	</li>
	<li class="col-md-4 nav-col">
		<h3 class="brand-name">In Demand Handyman</h3>
	</li>
  <li class="nav-item <%= active?(root_path)%> nav-col">
		<%= link_to 'Home', root_path, class: "nav-link" %>
  </li>
  <li class="nav-item <%= active?(about_path)%> nav-col">
		<%= link_to 'About', about_path, class: "nav-link" %>
  </li>
  <li class="nav-item <%= active?(contact_path)%> nav-col">
		<%= link_to 'Contact', contact_path, class: "nav-link" %>
  </li>
  <li class="nav-item <%= active?(form_path)%> nav-col">
		<%= link_to 'Estimate', form_path, class: "nav-link" %>
  </li>
	<li class="number right nav-col">
		<h4>123-345-6789</h4>
	</li>
</ul>
